modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["freetype", "gumbo", "harfbuzz", "jbig2dec", "libjpeg_turbo", "mupdf", "openjpeg", "swig", "xcbuild"]

[userenv]

[userenv.shared]
MQTT_BROKER_URL = "mqtt://76.13.4.214"
MQTT_TOPIC = "trn246/modbus"
SCADA_LOCATION_ADMIN_ACCESS = "[\"email:automystics.com@gmail.com\",\"id:60765752,f\",\"email:anand02.pm@gmail.com\"]"
PLATFORM_ADMIN_EMAILS = "anand02.pm@gmail.com"
